.MineBlog-header {
    display: flex;
    align-items:center;
    justify-content: space-between; /* Распределение лево центр и право */
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    font-family: sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px; /* Расстояние между логотипом и названием */
    flex: 1; /* Дает блоку возомжность занимать доступное простраство */
}
.menu-icon {
    font-size: 24 px;
    cursor: pointer;
}

.logo-img {
    width: 45px;
    height: auto;

}

.logo-text {
    display: flex;
    flex-direction: column;
   
}
.wiki-title {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;

}
wiki-subtitle {
    font-size: 11px;
    color:#ccc;
    
}
/* Центральная часть. Поиск */
.header-center {
    flex: 2; /* Занимает больше места что бы быть по центру */
    display:flex;
    justify-content: center;
}

.search-container {
    display: flex;
    width: 100%;
    max-width: 500px; /* Ширина поисковой строки */
    border: 1px solid #ccc;

}
.search-container input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    outline: none;

}
.search-container button {
    padding: 8px 12px;
    background: #ccc;
    border-left: 1px solid #ccc;
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
  font-weight: bold;
}
/* Правая часть */
.header-right { 
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    flex: 1; /* Сделать части одинаковыми для равновесия */

}
.nav-ling {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}
.nav-link:hover {
    text-decoration:underline;
}