.MineBlog-header {
    display: flex;
    align-items:flex-start;
    justify-content: space-between; /* Распределение лево центр и право */
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    min-height: 50px;
}

.header-left {
    display: flex;
    align-items: flex-start;
    gap: 15px; /* Расстояние между логотипом и названием */
    flex: 1; /* Дает блоку возомжность занимать доступное простраство */
}
.menu-icon {
    font-size: 150 px;
    cursor: pointer;
}

.logo-img {
    width: 80px;
    height: auto;

}

.logo-text {
    display: flex;
    flex-direction: column;
   
}
.MineBlog-title {
    font-size: 20px;
    font-weight: bold;


}
.MineBlog-subtitle {
    font-size: 12px;
    color:#ccc;
    
}
/* Центральная часть. Поиск */
.header-center {
    flex: 2; /* Занимает больше места что бы быть по центру */
     display:flex; 
    justify-content: center;
     padding-top: 5px; 
}

.search-container {
    display: flex;
    width: 100%;
    max-width: 300px; /* Ширина поисковой строки */
    border: 1px solid #ccc;

}
.search-container input {
    width: 100%;
    padding: 8px 12px;
    border: none;
    outline: none;

}
.search-container button {
    padding: 8px 12px;
    background: #ccc;
    border-left: 1px solid #ccc;
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
  font-weight: bold;
}
/* Правая часть */
.header-right { 
   /* padding-top: 5px; */
    display: flex;
    gap: 10px;
    justify-content: flex-end; 
    flex: 1; /* Сделать части одинаковыми для равновесия */

}
.header-right a {
  text-decoration: none;
  color: #0645ad;
  font-size: 14px;
}
.nav-ling {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
}
.nav-link:hover {
    text-decoration:underline;
}