.MineBlog-header {
    display: flex;
    align-items:center;
    justify-content: space-between; /* Распределение лево центр и право */
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    font-family: sans-serif;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px; /* Расстояние между логотипом и названием */
    flex: 1; /* Дает блоку возомжность занимать доступное простраство */
}
.menu-icon {
    font-size: 24 px;
    cursor: pointer;
}

.logo-img {
    width: 45px;
    height: auto;

}

